@import './base.css';

#app {
    margin: 0 auto;
    padding: 2rem;
    font-weight: normal;
    font-size: 16px;
    width: 100vw;
}

h1 {
    font-size: 2.25rem;
}

h2 {
    font-size: 1.875rem;
}

h3 {
    font-size: 1.25rem;
}

a {
    text-decoration: underline;
}

a:hover {
    color: var(--color-text-dark);
}

.bg-dark {
    background-color: var(--color-background-dark);
}

.text-dark {
    color: var(--color-text-dark);
}

@media (min-width: 1024px) {
    body {
        display: flex;
        place-items: center;
    }
}
