@import './base.css';

#app {
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.red {
  text-decoration: none;
  color: rgb(189, 6, 0);
  transition: 0.4s;
  padding: 3px;
}

button {
  background-color: rgb(189, 58, 19);
  border: none;
  border-radius: 8px;
  padding: 8px;
  height: fit-content;
}

@media (hover: hover) {
  a:hover,
  button:hover {
    background-color: hsla(0, 88%, 43%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
}
